<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ISS-Tracer</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <style>
      html {
        width: 100vw;
        height: 100vh;
        margin: 0;
        background-color: black;
        color: white;
      }

      span {
        color: red;
      }

      .mapContainer {
          width: 100vw;
          height: 100vh;
          font-size: 0.2em;
          white-space: pre;
      }


      .map {
          color: white;
          width: 100vw;
          height: 100vh;
      }

  </style>
  <div class="mapContainer">

  